$color: #999;

.FileRepresentation {
  // margin-left: 260px;
  width: 100%;
  padding: 30px 30px;
  overflow-y: auto;

  .item-selected {
    // .FileItem:first-child {
    //   background-color: $color;
    // }
    small {
      background-color: $color;
    }
  }
}
