.TextPreview {
  .ReactVirtualized__Grid.ReactVirtualized__List.react-lazylog{
    background-color: white;
  }
  .ReactVirtualized__Grid__innerScrollContainer  {
    
    div:hover {
      background-color: #ddfdf0;
    }
  }
}
